{% extends 'body.html' %}
{% block content %}
<div class="row">
    <div class="col-12 accounts-general-container">
        <div class="row">
            <div class="col-12 d-flex justify-content-start">
                <h3>Search Products</h3>
            </div>
        </div>
        <hr>
        <form method="get">
            <div class="row">
                {% for camps in form.searchForm %}
                    <div class="col-2">
                        <div class="row">
                            <div class="col-12">
                                {{ camps.label }}
                            </div>
                            <div class="col-12">
                                {{ camps }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-2 d-flex align-items-end">
                    <button class="btn btn-form form-control" type="submit">
                        <span>
                            <i class="bi bi-search"></i> Search
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 accounts-general-container mt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-start">
                <h3>Results</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Category</th>
                            <th scope="col">Provider</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rows in queryset %}
                            <tr>
                                <td>{{ rows.product_code }}</td>
                                <td>{{ rows.product_name }}</td>
                                <td>{{ rows.product_description }}</td>
                                <td>{{ rows.stock }}</td>
                                <td>{{ rows.category }}</td>
                                <td>{{ rows.provider }}</td>
                                <td>
                                    <a class="btn btn-form" href="{% url 'editProductUrl' rows.product_alias %}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger" href="{% url 'deleteProductUrl' rows.product_alias %}">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 accounts-general-container mt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-start">
                {% url 'productsUrl' as product %}
                {% if request.path == product %}
                    <h3>Add new product</h3>
                {% else %}
                    <h3>Edit product</h3>
                {% endif %}
            </div>
        </div>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% for camps in form.addForm %}
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-12">
                                {{ camps.label }}
                            </div>
                            <div class="col-12">
                                {{ camps }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-2 offset-10">
                    <button class="btn btn-form form-control" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}